In [47]:
# Import important library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Q1 Read the input file and check the data dimension

In [48]:
#Read input file and understand the data
# "default" is my dependent variable
gr= pd.read_csv("german_credit.csv")
gr

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes
5,0,no checking account,36,existing credits paid back duly till now,(vacation - does not exist?),9055,unknown/ no savings account,1 <= ... < 4 years,2,male : single,...,4,unknown / no property,35,none,for free,1,unskilled - resident,2,"yes, registered under the customers name",yes
6,0,no checking account,24,existing credits paid back duly till now,radio/television,2835,500 <= ... < 1000 DM,.. >= 7 years,3,male : single,...,4,if not A121 : building society savings agreeme...,53,none,own,1,skilled employee / official,1,none,yes
7,0,0 <= ... < 200 DM,36,existing credits paid back duly till now,car (used),6948,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",35,none,rent,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
8,0,no checking account,12,existing credits paid back duly till now,domestic appliances,3059,.. >= 1000 DM,4 <= ... < 7 years,2,male : divorced/separated,...,4,real estate,61,none,own,1,unskilled - resident,1,none,yes
9,1,0 <= ... < 200 DM,30,critical account/ other credits existing (not ...,car (new),5234,... < 100 DM,unemployed,4,male : married/widowed,...,2,"if not A121/A122 : car or other, not in attrib...",28,none,own,2,management/ self-employed/ highly qualified em...,1,none,yes
10,1,0 <= ... < 200 DM,12,existing credits paid back duly till now,car (new),1295,... < 100 DM,... < 1 year,3,female : divorced/separated/married,...,1,"if not A121/A122 : car or other, not in attrib...",25,none,rent,1,skilled employee / official,1,none,yes
11,1,< 0 DM,48,existing credits paid back duly till now,business,4308,... < 100 DM,... < 1 year,3,female : divorced/separated/married,...,4,if not A121 : building society savings agreeme...,24,none,rent,1,skilled employee / official,1,none,yes
12,0,0 <= ... < 200 DM,12,existing credits paid back duly till now,domestic appliances,1567,... < 100 DM,1 <= ... < 4 years,1,female : divorced/separated/married,...,1,"if not A121/A122 : car or other, not in attrib...",22,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
13,1,< 0 DM,24,critical account/ other credits existing (not ...,car (new),1199,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",60,none,own,2,unskilled - resident,1,none,yes
14,0,< 0 DM,15,existing credits paid back duly till now,car (new),1403,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,4,"if not A121/A122 : car or other, not in attrib...",28,none,rent,1,skilled employee / official,1,none,yes
15,1,< 0 DM,24,existing credits paid back duly till now,domestic appliances,1282,100 <= ... < 500 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,2,"if not A121/A122 : car or other, not in attrib...",32,none,own,1,unskilled - resident,1,none,yes
16,0,no checking account,24,critical account/ other credits existing (not ...,domestic appliances,2424,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,if not A121 : building society savings agreeme...,53,none,own,2,skilled employee / official,1,none,yes
17,0,< 0 DM,30,no credits taken/ all credits paid back duly,business,8072,unknown/ no savings account,... < 1 year,2,male : single,...,3,"if not A121/A122 : car or other, not in attrib...",25,bank,own,3,skilled employee / official,1,none,yes
18,1,0 <= ... < 200 DM,24,existing credits paid back duly till now,car (used),12579,... < 100 DM,.. >= 7 years,4,female : divorced/separated/married,...,2,unknown / no property,44,none,for free,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
19,0,no checking account,24,existing credits paid back duly till now,domestic appliances,3430,500 <= ... < 1000 DM,.. >= 7 years,3,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",31,none,own,1,skilled employee / official,2,"yes, registered under the customers name",yes
20,0,no checking account,9,critical account/ other credits existing (not ...,car (new),2134,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",48,none,own,3,skilled employee / official,1,"yes, registered under the customers name",yes
21,0,< 0 DM,6,existing credits paid back duly till now,domestic appliances,2647,500 <= ... < 1000 DM,1 <= ... < 4 years,2,male : single,...,3,real estate,44,none,rent,1,skilled employee / official,2,none,yes
22,0,< 0 DM,10,critical account/ other credits existing (not ...,car (new),2241,... < 100 DM,... < 1 year,1,male : single,...,3,real estate,48,none,rent,2,unskilled - resident,2,none,no
23,0,0 <= ... < 200 DM,12,critical account/ other credits existing (not ...,car (used),1804,100 <= ... < 500 DM,... < 1 year,3,male : single,...,4,if not A121 : building society savings agreeme...,44,none,own,1,skilled employee / official,1,none,yes
24,0,no checking account,10,critical account/ other credits existing (not ...,radio/television,2069,unknown/ no savings account,1 <= ... < 4 years,2,male : married/widowed,...,1,"if not A121/A122 : car or other, not in attrib...",26,none,own,2,skilled employee / official,1,none,no
25,0,< 0 DM,6,existing credits paid back duly till now,radio/television,1374,... < 100 DM,1 <= ... < 4 years,1,male : single,...,2,real estate,36,bank,own,1,unskilled - resident,1,"yes, registered under the customers name",yes
26,0,no checking account,6,no credits taken/ all credits paid back duly,domestic appliances,426,... < 100 DM,.. >= 7 years,4,male : married/widowed,...,4,"if not A121/A122 : car or other, not in attrib...",39,none,own,1,unskilled - resident,1,none,yes
27,0,>= 200 DM / salary assignments for at least 1 ...,12,all credits at this bank paid back duly,domestic appliances,409,.. >= 1000 DM,1 <= ... < 4 years,3,female : divorced/separated/married,...,3,real estate,42,none,rent,2,skilled employee / official,1,none,yes
28,0,0 <= ... < 200 DM,7,existing credits paid back duly till now,domestic appliances,2415,... < 100 DM,1 <= ... < 4 years,3,male : single,...,2,real estate,34,none,own,1,skilled employee / official,1,none,yes
29,1,< 0 DM,60,delay in paying off in the past,business,6836,... < 100 DM,.. >= 7 years,3,male : single,...,4,unknown / no property,63,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0,0 <= ... < 200 DM,15,existing credits paid back duly till now,education,1514,100 <= ... < 500 DM,1 <= ... < 4 years,4,male : single,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
971,0,no checking account,24,existing credits paid back duly till now,car (new),7393,... < 100 DM,1 <= ... < 4 years,1,male : single,...,4,if not A121 : building society savings agreeme...,43,none,own,1,unskilled - resident,2,none,yes
972,1,< 0 DM,24,all credits at this bank paid back duly,car (new),1193,... < 100 DM,unemployed,1,female : divorced/separated/married,...,4,unknown / no property,29,none,rent,2,unemployed/ unskilled - non-resident,1,none,yes
973,1,< 0 DM,60,existing credits paid back duly till now,business,7297,... < 100 DM,.. >= 7 years,4,male : single,...,4,unknown / no property,36,none,rent,1,skilled employee / official,1,none,yes
974,0,no checking account,30,critical account/ other credits existing (not ...,domestic appliances,2831,... < 100 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,2,"if not A121/A122 : car or other, not in attrib...",33,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
975,0,>= 200 DM / salary assignments for at least 1 ...,24,existing credits paid back duly till now,domestic appliances,1258,500 <= ... < 1000 DM,1 <= ... < 4 years,3,female : divorced/separated/married,...,3,"if not A121/A122 : car or other, not in attrib...",57,none,own,1,unskilled - resident,1,none,yes
976,0,0 <= ... < 200 DM,6,existing credits paid back duly till now,domestic appliances,753,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,3,real estate,64,none,own,1,skilled employee / official,1,none,yes
977,0,0 <= ... < 200 DM,18,delay in paying off in the past,business,2427,unknown/ no savings account,.. >= 7 years,4,male : single,...,2,if not A121 : building society savings agreeme...,42,none,own,2,skilled employee / official,1,none,yes
978,1,no checking account,24,delay in paying off in the past,car (new),2538,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",47,none,own,2,unskilled - resident,2,none,yes
979,1,0 <= ... < 200 DM,15,all credits at this bank paid back duly,car (new),1264,100 <= ... < 500 DM,1 <= ... < 4 years,2,male : married/widowed,...,2,if not A121 : building society savings agreeme...,25,none,rent,1,skilled employee / official,1,none,yes
980,1,0 <= ... < 200 DM,30,critical account/ other credits existing (not ...,radio/television,8386,... < 100 DM,4 <= ... < 7 years,2,male : single,...,2,if not A121 : building society savings agreeme...,49,none,own,1,skilled employee / official,1,none,yes
981,1,no checking account,48,existing credits paid back duly till now,business,4844,... < 100 DM,unemployed,3,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",33,bank,rent,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
982,0,>= 200 DM / salary assignments for at least 1 ...,21,existing credits paid back duly till now,car (new),2923,100 <= ... < 500 DM,1 <= ... < 4 years,1,female : divorced/separated/married,...,1,"if not A121/A122 : car or other, not in attrib...",28,bank,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
983,1,< 0 DM,36,existing credits paid back duly till now,car (used),8229,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,if not A121 : building society savings agreeme...,26,none,own,1,skilled employee / official,2,none,yes
984,0,no checking account,24,critical account/ other credits existing (not ...,radio/television,2028,... < 100 DM,4 <= ... < 7 years,2,male : single,...,2,if not A121 : building society savings agreeme...,30,none,own,2,unskilled - resident,1,none,yes
985,0,< 0 DM,15,critical account/ other credits existing (not ...,radio/television,1433,... < 100 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,3,if not A121 : building society savings agreeme...,25,none,rent,2,skilled employee / official,1,none,yes
986,0,>= 200 DM / salary assignments for at least 1 ...,42,no credits taken/ all credits paid back duly,business,6289,... < 100 DM,... < 1 year,2,male : divorced/separated,...,1,if not A121 : building society savings agreeme...,33,none,own,2,skilled employee / official,1,none,yes
987,0,no checking account,13,existing credits paid back duly till now,domestic appliances,1409,100 <= ... < 500 DM,unemployed,2,female : divorced/separated/married,...,4,real estate,64,none,own,1,skilled employee / official,1,none,yes
988,0,< 0 DM,24,existing credits paid back duly till now,car (used),6579,... < 100 DM,unemployed,4,male : single,...,2,unknown / no property,29,none,for free,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
989,0,0 <= ... < 200 DM,24,critical account/ other credits existing (not ...,domestic appliances,1743,... < 100 DM,.. >= 7 years,4,male : single,...,2,if not A121 : building society savings agreeme...,48,none,own,2,unskilled - resident,1,none,yes
990,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),3565,unknown/ no savings account,... < 1 year,2,male : single,...,1,if not A121 : building society savings agreeme...,37,none,own,2,unskilled - resident,2,none,yes
991,0,no checking account,15,all credits at this bank paid back duly,domestic appliances,1569,100 <= ... < 500 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",34,bank,own,1,unskilled - resident,2,none,yes
992,0,< 0 DM,18,existing credits paid back duly till now,domestic appliances,1936,unknown/ no savings account,4 <= ... < 7 years,2,male : married/widowed,...,4,"if not A121/A122 : car or other, not in attrib...",23,none,rent,2,unskilled - resident,1,none,yes
993,0,< 0 DM,36,existing credits paid back duly till now,radio/television,3959,... < 100 DM,unemployed,4,male : single,...,3,if not A121 : building society savings agreeme...,30,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
994,0,no checking account,12,existing credits paid back duly till now,car (new),2390,unknown/ no savings account,.. >= 7 years,4,male : single,...,3,"if not A121/A122 : car or other, not in attrib...",50,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
995,0,no checking account,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,< 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,no checking account,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,< 0 DM,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [49]:
gr['account_check_status'].value_counts()
gr['savings'].value_counts()

... < 100 DM                   603
unknown/ no savings account    183
100 <= ... < 500 DM            103
500 <= ... < 1000 DM            63
.. >= 1000 DM                   48
Name: savings, dtype: int64

In [50]:
gr.describe()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.300000,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,0.458487,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,0.000000,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,0.000000,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,0.000000,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,1.000000,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,1.000000,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [51]:
gr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null object
duration_in_month             1000 non-null int64
credit_history                1000 non-null object
purpose                       1000 non-null object
credit_amount                 1000 non-null int64
savings                       1000 non-null object
present_emp_since             1000 non-null object
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null object
other_debtors                 1000 non-null object
present_res_since             1000 non-null int64
property                      1000 non-null object
age                           1000 non-null int64
other_installment_plans       1000 non-null object
housing                       1000 non-null object
credits_this_bank             1000 non-null int64
job                           1000 non-null object
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null object
foreign_worker                1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [33]:
#for feature in gr.columns: # Loop through all columns in the dataframe
 #   if gr[feature].dtype == 'object': # Only apply for columns with categorical strings
  #      gr[feature] = pd.Categorical(gr[feature]).codes # Replace strings with an integer
        
#gr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null int8
duration_in_month             1000 non-null int64
credit_history                1000 non-null int8
purpose                       1000 non-null int8
credit_amount                 1000 non-null int64
savings                       1000 non-null int8
present_emp_since             1000 non-null int8
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null int8
other_debtors                 1000 non-null int8
present_res_since             1000 non-null int64
property                      1000 non-null int8
age                           1000 non-null int64
other_installment_plans       1000 non-null int8
housing                       1000 non-null int8
credits_this_bank             1000 non-null int64
job                           1000 non-null int8
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null int8
foreign_worker                1000 non-null int8
dtypes: int64(8), int8(13)
memory usage: 75.3 KB

In [34]:
# Lets build a Ensemble model but need to modify the dataset first

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [52]:
# Print Shape of model data
gr_dummy=pd.get_dummies(data=gr,columns=['account_check_status','credit_history','purpose','savings','present_emp_since',
                                         'personal_status_sex','other_debtors','property','other_installment_plans','housing','job','telephone','foreign_worker'])

ValueError: too many values to unpack (expected 3)

(1000, 61)

### Check for highly correlated variables but don't required any treatment for this use case

ValueError: too many values to unpack (expected 3)

(1000, 61)

### Drop the original variables which are converted to dummy

AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [85]:

from sklearn.model_selection import train_test_split

y=gr_dummy["default"]
x=gr_dummy.drop('default',axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, y_test= train_test_split(x,y, test_size=.30)

In [82]:
y.shape
x.shape

(1000, 61)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [100]:

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 31)
rfc = gr_dummy.fit(X_train, Y_train)

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [103]:
from sklearn import metrics
y_predict =rfc.predict(X_test)
model_score=rfc.score(X_test,y_test)
print(model_score)
print(metrics.confusion_matrix(y_test, y_predict))

0.7633333333333333
[[195  21]
 [ 50  34]]

In [104]:
model_score_2=rfc.score(X_train, Y_train)
print(model_score_2)

1.0

### Q6 Show the list of the features importance( 1 Marks)

In [111]:
import pandas as pd
feature_importances = pd.DataFrame(rfc.feature_importances_
                                ,index= X_train.columns,
                                 columns=
['importance']).sort_values('importance',
                           ascending=False)

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [114]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [115]:
# Use below values
num_folds = 10
seed = 77

In [116]:
#Validate the Random Forest model build above using k fold

In [117]:
k_fold=KFold(n_splits=num_folds,random_state=seed,shuffle=False)

In [0]:
#Calculate Mean score

In [120]:
scores = cross_val_score(rfc,x,y,cv=k_fold)
scores.mean()

0.7510000000000001

In [0]:
# Calculate score standard deviation using std()

In [121]:
scores.std()

0.04867237409455182

# Q8 Print the confusion matrix( 1 Marks)

In [124]:
from sklearn.model_selection import cross_val_predict
Kfold_y_predict= cross_val_predict(rfc,X_test,y_test,cv=k_fold,n_jobs=2)

In [125]:
print(Kfold_y_predict)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 1 0
 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 0 0 0 0]

In [126]:
metrics.confusion_matrix(y_test,Kfold_y_predict)

array([[202,  14],
       [ 60,  24]])

metrics.confusion_matrix(y_test,Kfold_y_predict)

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
(2 Marks)

In [127]:
Num_curr_pred=(202+24)

In [128]:
Total=(202+24+14+60)

In [129]:
#Accuracy
print(Num_curr_pred/Total)

0.7533333333333333

In [131]:
#sensitivity defaultres
sensitivity_tp=(202/(202+14))

In [132]:
print(sensitivity_tp)

0.9351851851851852

In [134]:
#sensitivity non defaulters
sensitivity_tn=(60/(60+24))
print(sensitivity_tn)

0.7142857142857143

[link text](https://)### Bootstrapping ( Bonus and Optional)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models

In [143]:
# Number of iterations for bootstrapping
bootstrap_iteration = 10
accuracy = []

In [144]:
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

for i in range(bootstrap_iteration):
    X_, y_ = resample(X_train, Y_train)
    rfc.fit(X_, y_)
    y_pred = rfc.predict(X_test)
    
    acc = accuracy_score(y_pred, y_test)
    accuracy.append(acc)

In [145]:
accuracy = np.array(accuracy)
print('Accuracy Score')
print('Avearge: ', accuracy.mean())
print('Standard deviation: ', accuracy.std())

Accuracy Score
Avearge:  0.7536666666666666
Standard deviation:  0.01797838208021574