In [0]:
#Read the data set

In [1]:
from google.colab import files
files.upload()

ImportError: No module named google.colab

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [0]:
%tensorflow_version 2.x

In [0]:
bank_df=pd.read_csv("bank.csv")

In [580]:
bank_df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
#Drop the columns which are unique for all users like IDs

In [0]:
#As RowNumber and CustomerID is unique we can drop these two columns
bank_df=bank_df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [583]:
bank_df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [584]:
bank_df.shape

(10000, 11)

In [0]:
bank_df=pd.get_dummies(df)

In [586]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
CreditScore          10000 non-null float32
Age                  10000 non-null float32
Tenure               10000 non-null float32
Balance              10000 non-null float32
NumOfProducts        10000 non-null float32
HasCrCard            10000 non-null float32
IsActiveMember       10000 non-null float32
EstimatedSalary      10000 non-null float32
Exited               10000 non-null float32
Geography_France     10000 non-null float32
Geography_Germany    10000 non-null float32
Geography_Spain      10000 non-null float32
Gender_Female        10000 non-null float32
Gender_Male          10000 non-null float32
dtypes: float32(14)
memory usage: 547.0 KB

In [0]:
bank_df=bank_df.astype('float32')

In [0]:
#Distinguish the feature and target set 
X=bank_df.drop('Exited',axis=1)
y=bank_df['Exited']

In [0]:
#Divide the data set into training and test sets
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,y,test_size=0.20,random_state=100)

In [0]:
#Normalize the train and test data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(Xtrain)
Xtrain = sc.transform(Xtrain)
Xtest= sc.transform(Xtest)

In [0]:
#Initialize & build the model
import tensorflow as tf
model=tf.keras.Sequential()

In [0]:
from tensorflow.keras.layers import Dense

In [0]:
model.add(Dense(50,activation='relu', input_shape=(13,)))
model.add(Dense(30,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [0]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [595]:
model.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_42 (Dense)             (None, 50)                700
_________________________________________________________________
dense_43 (Dense)             (None, 30)                1530
_________________________________________________________________
dense_44 (Dense)             (None, 10)                310
_________________________________________________________________
dense_45 (Dense)             (None, 1)                 11
=================================================================
Total params: 2,551
Trainable params: 2,551
Non-trainable params: 0
_________________________________________________________________

In [596]:
model.fit(Xtrain,Ytrain,validation_data=(Xtest,Ytest),epochs=12,verbose=1)

Train on 8000 samples, validate on 2000 samples
Epoch 1/12
8000/8000 [==============================] - 1s 125us/sample - loss: 0.4588 - accuracy: 0.7991 - val_loss: 0.4186 - val_accuracy: 0.8230
Epoch 2/12
8000/8000 [==============================] - 1s 79us/sample - loss: 0.3770 - accuracy: 0.8435 - val_loss: 0.3724 - val_accuracy: 0.8500
Epoch 3/12
8000/8000 [==============================] - 1s 77us/sample - loss: 0.3451 - accuracy: 0.8574 - val_loss: 0.3650 - val_accuracy: 0.8535
Epoch 4/12
8000/8000 [==============================] - 1s 78us/sample - loss: 0.3361 - accuracy: 0.8594 - val_loss: 0.3610 - val_accuracy: 0.8570
Epoch 5/12
8000/8000 [==============================] - 1s 77us/sample - loss: 0.3300 - accuracy: 0.8640 - val_loss: 0.3650 - val_accuracy: 0.8495
Epoch 6/12
8000/8000 [==============================] - 1s 76us/sample - loss: 0.3253 - accuracy: 0.8648 - val_loss: 0.3657 - val_accuracy: 0.8530
Epoch 7/12
8000/8000 [==============================] - 1s 79us/sample - loss: 0.3240 - accuracy: 0.8665 - val_loss: 0.3613 - val_accuracy: 0.8505
Epoch 8/12
8000/8000 [==============================] - 1s 74us/sample - loss: 0.3204 - accuracy: 0.8686 - val_loss: 0.3670 - val_accuracy: 0.8510
Epoch 9/12
8000/8000 [==============================] - 1s 75us/sample - loss: 0.3191 - accuracy: 0.8694 - val_loss: 0.3673 - val_accuracy: 0.8515
Epoch 10/12
8000/8000 [==============================] - 1s 75us/sample - loss: 0.3163 - accuracy: 0.8698 - val_loss: 0.3640 - val_accuracy: 0.8550
Epoch 11/12
8000/8000 [==============================] - 1s 69us/sample - loss: 0.3142 - accuracy: 0.8709 - val_loss: 0.3640 - val_accuracy: 0.8500
Epoch 12/12
8000/8000 [==============================] - 1s 70us/sample - loss: 0.3129 - accuracy: 0.8710 - val_loss: 0.3693 - val_accuracy: 0.8485

In [597]:
score=model.evaluate(Xtest,Ytest)

2000/2000 [==============================] - 0s 35us/sample - loss: 0.3693 - accuracy: 0.8485

In [598]:
score

[0.3693233407735825, 0.8485]

In [0]:
#Predict the results using 0.5 as a threshold
y_pred = model.predict(Xtest)
y_predict =(y_pred>0.5)

In [600]:
#Print the Accuracy score and confusion matrix 
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Ytest, y_predict)
print(cm)

[[1532   56]
 [ 247  165]]