In [ ]:
#2. Study the data distribution in each attribute, share your findings. (10 points)
to get the personal loan on the basis of persons age,how much exoerience person have where that that one workingfrom which area 
customer belongs how is record of that area related to loan pay.as per experience how much is he earning so he should be able to repay the money.on how much interset loan is given , how was customers recodrs towards the credit cars bills, is all the bills are paid on time or not.
what ever loan he is asking for what is security amount/value he have.

In [21]:
#3. Get the target column distribution. 

import pandas as pd
import numpy as np
#Import all the necessary modules
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

#import seaborn to create a histogram
import seaborn as sb 
from sklearn.tree import DecisionTreeClassifier
bank = pd.read_csv("Bank_Personal_Loan_Modelling-1.csv")
bank
bank.dtypes

ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

In [22]:
bank.describe().count()

ID                    8
Age                   8
Experience            8
Income                8
ZIP Code              8
Family                8
CCAvg                 8
Education             8
Mortgage              8
Personal Loan         8
Securities Account    8
CD Account            8
Online                8
CreditCard            8
dtype: int64

In [23]:
#droping the NA values
bank.describe().drop

<bound method DataFrame.drop of                 ID          Age   Experience       Income      ZIP Code  \
count  5000.000000  5000.000000  5000.000000  5000.000000   5000.000000
mean   2500.500000    45.338400    20.104600    73.774200  93152.503000
std    1443.520003    11.463166    11.467954    46.033729   2121.852197
min       1.000000    23.000000    -3.000000     8.000000   9307.000000
25%    1250.750000    35.000000    10.000000    39.000000  91911.000000
50%    2500.500000    45.000000    20.000000    64.000000  93437.000000
75%    3750.250000    55.000000    30.000000    98.000000  94608.000000
max    5000.000000    67.000000    43.000000   224.000000  96651.000000

            Family        CCAvg    Education     Mortgage  Personal Loan  \
count  5000.000000  5000.000000  5000.000000  5000.000000    5000.000000
mean      2.396400     1.937938     1.881000    56.498800       0.096000
std       1.147663     1.747659     0.839869   101.713802       0.294621
min       1.000000     0.000000     1.000000     0.000000       0.000000
25%       1.000000     0.700000     1.000000     0.000000       0.000000
50%       2.000000     1.500000     2.000000     0.000000       0.000000
75%       3.000000     2.500000     3.000000   101.000000       0.000000
max       4.000000    10.000000     3.000000   635.000000       1.000000

       Securities Account  CD Account       Online   CreditCard
count         5000.000000  5000.00000  5000.000000  5000.000000
mean             0.104400     0.06040     0.596800     0.294000
std              0.305809     0.23825     0.490589     0.455637
min              0.000000     0.00000     0.000000     0.000000
25%              0.000000     0.00000     0.000000     0.000000
50%              0.000000     0.00000     1.000000     0.000000
75%              0.000000     0.00000     1.000000     1.000000
max              1.000000     1.00000     1.000000     1.000000  >

In [40]:
#converting -ve values to +ve value
bank['Experience']=bank['Experience'].abs()
bank

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.60,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.50,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.00,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.70,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.00,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.40,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.50,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.30,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.60,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.90,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.40,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.10,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.80,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.50,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.00,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.50,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.70,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.40,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.10,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.50,2,0,0,1,0,0,1
20,21,56,31,25,94015,4,0.90,2,111,0,0,0,1,0
21,22,57,27,63,90095,3,2.00,3,0,0,0,0,1,0
22,23,29,5,62,90277,1,1.20,1,260,0,0,0,1,0
23,24,44,18,43,91320,2,0.70,1,163,0,1,0,0,0
24,25,36,11,152,95521,2,3.90,1,159,0,0,0,0,1
25,26,43,19,29,94305,3,0.50,1,97,0,0,0,1,0
26,27,40,16,83,95064,4,0.20,3,0,0,0,0,0,0
27,28,46,20,158,90064,1,2.40,1,0,0,0,0,1,1
28,29,56,30,48,94539,1,2.20,3,0,0,0,0,1,1
29,30,38,13,119,94104,1,3.30,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,95821,2,1.70,2,0,0,0,0,0,1
4971,4972,58,28,73,90024,1,1.40,3,0,0,1,0,0,0
4972,4973,58,32,41,93401,3,2.20,3,148,0,0,0,1,1
4973,4974,31,1,68,95045,4,4.00,3,0,0,0,0,1,0
4974,4975,59,33,64,92867,4,1.70,2,0,0,0,0,0,1
4975,4976,38,11,29,95207,4,1.00,2,0,0,0,0,1,0
4976,4977,29,5,31,95039,1,1.80,2,0,0,0,0,1,1
4977,4978,40,15,54,90266,3,0.80,3,0,0,0,0,1,0
4978,4979,57,27,63,90210,4,2.00,3,0,0,0,0,1,0
4979,4980,50,26,92,90740,1,2.60,2,213,0,0,0,0,1
4980,4981,29,5,135,95762,3,5.30,1,0,1,0,1,1,1
4981,4982,34,9,195,90266,2,3.00,1,122,0,0,0,1,0
4982,4983,36,10,45,95126,4,0.20,1,0,0,0,0,0,1
4983,4984,51,26,72,95370,1,2.90,1,0,0,0,0,0,0
4984,4985,27,1,98,94043,4,2.30,3,0,0,0,0,0,1
4985,4986,48,23,30,94720,3,1.70,2,162,0,0,0,1,0
4986,4987,32,6,78,95825,1,2.90,3,0,0,0,0,0,0
4987,4988,48,23,43,93943,3,1.70,2,159,0,0,0,1,0
4988,4989,34,8,85,95134,1,2.50,1,136,0,0,0,0,1
4989,4990,24,0,38,93555,1,1.00,3,0,0,0,0,1,0
4990,4991,55,25,58,95023,4,2.00,3,219,0,0,0,0,1
4991,4992,51,25,92,91330,1,1.90,2,100,0,0,0,0,1
4992,4993,30,5,13,90037,4,0.50,3,0,0,0,0,0,0
4993,4994,45,21,218,91801,2,6.67,1,0,0,0,0,1,0
4994,4995,64,40,75,94588,3,2.00,3,0,0,0,0,1,0
4995,4996,29,3,40,92697,1,1.90,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.40,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.30,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.50,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.80,1,0,0,0,0,1,1

In [33]:
#4. Split the data into training and test set in the ratio of 70:30 respectively
array = bank.values
X = bank.drop(['Personal Loan'],axis=1)  ## here in iris dataset Personal Loan is a dependent variable 
y = bank[['Personal Loan']] ## rest of the columns are independent variable 
test_size = 0.30 # taking 70:30 training and test set
seed = 5  # Random numbmer seeding for reapeatability of the code
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [30]:
#5. Use different classification models (Logistic, K-NN and NaÃ¯ve Bayes) to predict the likelihood of 
#a liability customer buying personal loans (30 points)

from sklearn.neighbors import KNeighborsClassifier  
classifier = KNeighborsClassifier(n_neighbors=4)  
classifier.fit(X_train, y_train) 
#LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
print("Accuracy is:", model_score)
print("F1_score is", metrics.f1_score(y_test, y_predict))
print("confusion metrics is", metrics.confusion_matrix(y_test, y_predict))

/Users/chinki/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/chinki/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Accuracy is: 0.6906666666666667

ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

In [34]:
#Naive Baise
import pandas as pd
from sklearn import model_selection
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
%matplotlib inline
from sklearn.naive_bayes import GaussianNB

In [35]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X)

In [36]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [45]:
#KNN
from sklearn.neighbors import KNeighborsClassifier  
classifier = KNeighborsClassifier(n_neighbors=5)  
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [38]:
#6. Print the confusion matrix for all the above models (10 points)
print(metrics.confusion_matrix(y_test, y_predict))

[[1034    0    0 ...    0    0    0]
 [   1    0    0 ...    0    0    0]
 [   3    0    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]

In [39]:
#7. Give your reasoning on which is the best model in this case and why it performs better?
I found logistic regression modle more efficent as compaired to othe 2 model.I am getting 69% efficency its close to 70%
which is good accurcy.this not a over fit model. there is lot of chance to learn from test data set when it perfoms through actual data.